<img src="data/vub-logo.png" alt="vub-logo"/>

In [1]:
import pandas as pd
import geopandas
import folium

## Načítanie dát

In [2]:
df = pd.read_csv('data/NOCH_WORKSHOP.csv')
df.head()

       klient      datum     suma       mesto
0    20013726  03JUL2019  2000.00      MARTIN
1    19920606  03JUL2019   200.00     TRENCIN
2    20043562  03JUL2019   300.00      MARTIN
3    19898807  03JUL2019   150.00  NOVE ZAMKY
4  1465317458  03JUL2019     0.83      KOSICE